version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: workout
      POSTGRES_PASSWORD: workout
      POSTGRES_DB: workout_db
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      POSTGRES_USER: workout
      POSTGRES_PASSWORD: workout
      POSTGRES_DB: workout_db
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_DSN: postgresql+asyncpg://workout:workout@db:5432/workout_db
    volumes:
      - ./:/usr/src/app

volumes:
  db_data:
